<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PUZZLE</title>
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/puzzle-lang/puzzle@0.0.3/puzzle.browser.js"></script-->
    <script type="text/javascript" src="puzzle-local.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
    <style type="text/css">
    .output {
        // position: absolute !important;
    }
    </style>
</head>

<body>
    <div id="app" class="leto-frame">
       
        <div class="output leto-pl" v-if="currentProject">
            <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
        </div>
        <div class="output leto-pv-sm leto-group bottom-sheet" style="background: #202020">
            <div class="dropdown leto-card leto-border-none leto-m leto-mt-md-tablet leto-ml-xl-tablet" v-if="!currentProject">
                <div v-for="(project, k) in projects" class="leto-inline-block leto-m-xs leto-click" v-on:click="useProject(k)">
                    {{k}} <span v-on:click="changeProjectName(k)" class="fa fa-pencil"></span>
                </div>
                <div class="leto-button-xs  leto-text-white leto-border-none" v-on:click="addProject(undefined);addOptionsShown=false"><span class="">+</span></div>
            </div>

            <div class="leto-fifth-tablet">
                
            </div>
           
            <center style="width: 100%">
                <br><br>
                <div class="main-wrapper leto-text-center" style="max-height: 100%;overflow: scroll;">

              
                    <div class="leto-text-left inner_box">
                        <div v-if="ideMode">
                          <div class="sidebar" v-if="!naked">
                    <div v-for="(project, k) in projects" class="leto-inline-block leto-mr" v-if="!addOptionsShown && currentProject == k">
                        <div class="leto-text-sm leto-ml-sm leto-text-dark-grey leto-button-sm leto-click leto-inline-block " v-bind:class="{'leto-border-thickness-xxl': k == currentProject}">
                            <div style="font-weight:bold;color:#999999">
                                <span >
                                    <!--i class="fa fa-folder">v-on:click="currentProject = null"</i--><!--{{k}}-->
                                </span>
                                <span class="leto-ml-xs leto-color-grey leto-click" v-on:click="addDir(k)"><i class="fa fa-folder"></i> +</span>
                                <!--span class="leto-color-grey leto-click" v-on:click="deleteProject(k)">&times;</span-->
                            </div>
                        </div>
                        <subdir :k="k" />
                    </div>
                </div>
                        </div>
                       
                        <div class="main-content" v-show="currentProject">
                            <!-- canvas for quixui scripts (experimental) -->
                            <div class="leto-m leto-text-white" v-if="content.includes('quixui.puzzle.js')">
                            </div>
                            <!-- canvas for custom html from the lxhtml module -->
                            <div class="leto-m-lg leto-text-white" id="html-canvas" v-html="customContent.html" v-bind:style="customContent.style" v-show="customContent.html"></div>
                            <!-- the main editor (ace.js) -->
                            <div class="" style="
    padding: 10px;padding-bottom: 20px;
    border-radius: 10px;max-width: 95%">
                                <div id="editor" class="leto-mt-sm"></div>
                            </div>
                             <div class="leto-pl">
                                <div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="runCode(content)"><small><i class="fa fa-play"></i></small></div>
                                <div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="saveContent()"><small><i class="fa fa-save"></i></small></div>

                                <div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': ideMode}" v-on:click="ideMode=!ideMode"><small><i class="fa fa-folder"></i></small></div>
                                <!--div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="useTab(openedFileKey, content, currentProject)"><small><i class="fa fa-map-pin"></i></small></div-->
                            </div>
                           
                        </div>
                    </div>

                    <div class=" leto-text-left inner_box" v-if="currentProject && output">
                        <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
                    </div>

                </div>
            </center>
            <div class="leto-fifth-tablet">
            </div>
        </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'PUZZLE'

    if (getParameterByName('base64')) {
        // Parse base64 encoded puzzle script
        window.puzzle_script = atob(getParameterByName('base64'));
    } else if (getParameterByName('remote')) {
        // Include remote script file
        window.puzzle_script = "include '" + getParameterByName('remote') + "'";
    }

    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>