html,
body,
.container-fluid {
    height: 100%;
    background-color: #222222;
    color: #EFEFEF;
    padding: 0px;
    margin: 0px;
}

html {
    -webkit-app-region: drag;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

#app {
    height: 100%;
    background-color: #222222;
}

.main-content {
    top: 0px;
    height: 100px;
    width: 100%;
    left: 55px;
    max-width: 80%;
    display: inline-block;
}

.main-content-bottom {
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 100px;
    max-width: 80%;
    display: inline-grid;
}

#editor {
    min-height: 30px !important;
    width: calc(100% - 120px);
}

.sidebar {
    width: 100%;//180px;
    padding-top: 20px;
    //height: 100%;
    display: block;
    //float: left;
    //background: #222222;
    //background: #232323;
    overflow: hidden;
}

.sidebar-left {
    width: 80px;
    padding-top: 45px;
    top:0px;
    height: 100%;
    display: block;
    position: fixed;
    left:0px;
    //background: #222222;
    //background: #232323;
    z-index: 10000;
}

.sidebar-hidden {
    width: 30px;
    padding-top: 23px;
    height: 100%;
    display: block;
    position: fixed;
    top:0px;
    background: #222222;
    z-index: 10001;
}

.sidebar-leftbar {
    float: left;
    height: 100%;
}

.ace_gutter-cell,
.ace_scroller,
.ace_content,
.ace_gutter-layer {
    background: #222222;
}

.ace_gutter-cell {
    color: #3c3c3c;
}

.ace-monokai .ace_marker-layer .ace_active-line {
    background: #222222 !important;
}

.tab-bar {
    max-width: 100%;
    overflow: scroll;
    margin-left: 20px;
    display: inline-block;
}

.tab-active {
    font-weight: bold;
    //text-decoration: underline;
}

.active {
  font-weight: bold;
}

.leto-bubble-mmd {
    height: 50px !important;
    width: 50px !important;
}

.bubble-badge {
    display: inline-block;
    position: relative;
    top: -25px;
    right: -50px;
    margin-right: -20px;
    margin-bottom: -37px;
    margin-top: 8px
}

.times-hover:hover .times {
    display: inline-block;
}

.times-hover:hover .times-hide {
    display: none;
}

.times {
    display: none;
    color: #999999 !important;
}

.disabled {
    color: #3e3e3e !important;
    border-color: #3e3e3e !important;
}

.super-grey-label {
    color:#454545;
}

.welcome-msg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #222222;
    z-index: 999;
}

.tile {
    background: #3e3d3d !important;
    border-radius: 10px !important;
    border: none !important;
}